
img#imagePlaceholder {
    display: block;
    margin: 0 auto;
    max-width: 300px;
    max-height: 300px;
}

div.imageContainer {
    display: block;
    height: 56px;
}

div[class*="col"] {
    text-align: center;
    /*border: 1px solid #ddd;*/
}

.bottomButtons {
    position: fixed;
    bottom: 56px;
}

.centerBlock {
    display: block;
    margin: 0 auto;
    /*width: calc(100% - (16px * 2));*/
}

input#picker-label {
    width: 60vw;
}

input#picker-collection {
    width: 60vw;
}
